@font-face {
  font-family: "Justus Versalitas";
  font-style: normal;
  font-weight: normal;
  src: local("Justus Versalitas"),
    url("./assets/fonts/Justus-Versalitas.woff") format("woff");
}

@font-face {
  font-family: "Justus Italic Oldstyle";
  font-style: normal;
  font-weight: normal;
  src: local("Justus Italic Oldstyle"),
    url("./assets/fonts/Justus-ItalicOldstyle.woff") format("woff");
}

@font-face {
  font-family: "Justus Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Justus Italic"),
    url("./assets/fonts/Justus-Italic.woff") format("woff");
}

@font-face {
  font-family: "Justus Oldstyle";
  font-style: normal;
  font-weight: normal;
  src: local("Justus Oldstyle"),
    url("./assets/fonts/Justus-Oldstyle.woff") format("woff");
}

@font-face {
  font-family: "Justus Roman";
  font-style: normal;
  font-weight: normal;
  src: local("Justus Roman"),
    url("./assets/fonts/Justus-Roman.woff") format("woff");
}

@font-face {
  font-family: "Justus Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Justus Bold"),
    url("./assets/fonts/Justus-Bold.woff") format("woff");
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --primary-color: #e2e2e2;
  --bg-color: #333448;
  --heading-color: #ff6e4a;
}

.content.light-mode {
  --primary-color: #191919;
  --bg-color: #f3f3f3;
  --heading-color: #6450f0;
}

div.scroll-arrow {
  align-items: center;
  max-width: 80px;
  height: auto;
}

.content {
  background-color: var(--bg-color);
  color: var(--primary-color);
  padding: 20px;
  transition: background-color 0.4s, color 0.4s;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--primary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header,
.header-li a,
.arrow-container,
.app,
#root,
.social-media_links,
.social-media_links ul,
.container,
.vertical,
.hero-main,
.left-main,
.scroll-arrow,
.skills-container,
.skill,
.projects-section,
.project,
.project div,
.project-container,
.demo-links,
.moreProj-container,
.moreProj-container > div {
  display: flex;
}

.flex {
  display: flex;
}

a,
a:visited {
  text-decoration: none !important;
}

.app,
#root,
.social-media_links ul,
.scroll-arrow,
.skills-section,
.skill,
.projects-section,
.project div,
.project-container,
.moreInfo-section,
.moreProj-container div {
  flex-direction: column;
}

li {
  list-style: none;
  text-decoration: none;
}

/* Header Styles */

.logo {
  font-family: "Justus Italic";
  color: var(--heading-color);
  font-size: 37.5px;
}

.header {
  justify-content: space-between;
  padding: 50px 300px;
  align-items: center;
}
.header-li a {
  color: var(--heading-color);
  font-size: 19.2px;
  font-family: "Justus Versalitas";
}

.header-li {
  gap: 50px !important;
}

.switch {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 38px;
  margin-left: 100px;
}

.dark-light__mode {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
  border: solid var(--heading-color) 2px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--primary-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* HERO STYLES */

.hero-section {
  align-items: center;
  justify-content: center;
  margin: 100px 0 250px 0;
  flex-direction: column;
}

.social-media_links {
  width: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
  padding-top: 20px;
}

.icons {
  height: 25px;
  width: auto;
}

.social-media_links ul {
  gap: 50px;
  margin-bottom: 50px;
}

.vertical {
  width: 2px;
  height: 234px;
  background-color: var(--heading-color);
  margin: 0 auto;
}


.hero-main {
  flex-direction: column;
  gap: 70px;
}

.hero_gap {
  gap: 200px;
}

.hero-main p {
  font-size: 30px;
  font-family: Mulish;
  line-height: 60px;
  max-width: 900px;
}

.hero-main h1 {
  font-size: 73.24px;
  font-family: "Justus Versalitas";
  color: var(--heading-color);
}

.btn {
  border-radius: 2px;
  border: 2px solid var(--heading-color);
  width: fit-content;
  height: fit-content;
  padding: 20px 10px;
  background-color: transparent;
}

.resume-btn,
.more,
.more-a {
  color: var(--primary-color);
  font-size: 24px;
  font-family: Mulish;
  position: relative;
  transition: all 0.35s;
}

.resume-btn:hover,
.more:hover {
  background-color: var(--heading-color);
  color: var(--bg-color);
}

.respo {
  position: absolute !important;
  right: 20px !important;
}

.respo img {
  position: relative !important;
  width: 135px !important;
  height: auto !important;
  z-index: 2;
}

.box-style {
  position: absolute;
  border: 2px solid var(--heading-color);
  width: 135px;
  height: 135px;
  top: 10px;
  left: 10px;
  z-index: 0;
}

.main-hero_right {
  position: relative;
}

.more-proj {
  border: 1px solid var(--heading-color);
}

@keyframes scrollArrow {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 90%;
  }
  100% {
    opacity: 1;
    transform: translateY(10px);
  }
}

.icons {
  width: 29.68px;
  height: auto;
}

.scroll-arrow {
  position: absolute;
  bottom: 20px;
  top: 75%;
  right: 50px;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  animation: scrollArrow 1000ms infinite ease-in-out alternate;
}

@keyframes underline {
  0% {
    width: 0;
  }
  50% {
    width: calc(100% - 2em);
  }
  100% {
    width: calc(100% - 2em);
  }
}

.underline {
  position: relative;
  display: inline-block;
}

.underline::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--heading-color);
  animation: underline 2s ease-in-out forwards;
}

/* global styles */

.header_2 {
  color: var(--heading-color);
  font-size: 46.88px;
  font-family: "Justus Versalitas";
  text-align: center;
}

.bold {
  font-family: Mulish;
  font-weight: 600;
  color: var(--heading-color);
}

.image-container {
  position: relative;
}

.zoomable-image {
  z-index: 1;
  transition: transform 0.3s;
}

.zoomable-image:hover {
  transform: scale(1.05);
}

.carousel-container {
  max-width: 1054px;
  margin: 0 auto;
}

.skills-section {
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.skills-section h2 {
  margin-bottom: 100px;
}

.skill {
  padding: 5px 5px;
  display: flex;
  gap: 10px !important;
  align-items: center;
  border: 1px solid var(--heading-color);
  width: 130px;
  height: 130px;
  color: var(--primary-color);
  font: 400 19.2px "Mulish", sans-serif;
  justify-content: center;
  text-align: center;
}

/* Project section styles */

.projects-section {
  margin: 120px 0;
  align-items: center;
}

.project-container {
  margin-top: 85px;
  gap: 150px;
}

.project {
  gap: 70px;
}

.project div {
  gap: 20px;
}

.project div h3 {
  font-size: 33px;
  font-family: "Justus Versalitas";
  color: var(--heading-color);
}

.project div p {
  font-size: 19.2px;
  font-family: "Mulish";
  line-height: 35px;
  color: var(--primary-color);
  max-width: 500px;
}

.proj-box-styleOdd {
  position: absolute;
  border: 2px solid var(--heading-color);
  width: 503.219px;
  height: 311.777px;
  top: 20px;
  left: 20px;
  z-index: 0;
}

.proj-box-styleEven {
  position: absolute;
  border: 2px solid var(--heading-color);
  width: 503.219px;
  height: 311.777px;
  top: 20px;
  right: 20px;
  z-index: 0;
}

.even {
  flex-direction: row-reverse;
}

.demo-link {
  width: fit-content;
  font-size: 19.2px;
  font-family: Mulish;
  color: var(--heading-color);
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

.demo-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 4px;
  background-color: var(--heading-color);
  bottom: -5px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.demo-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.projects-section > p {
  margin-top: 80px;
  text-align: justify;
  font-size: 19.2px;
  font-family: Mulish;
  line-height: 35px;
  color: var(--primary-color);
  max-width: 1000px;
}

/* more info styles */

.moreInfo-section {
  padding: 80px 0;
  align-items: center;
  margin-bottom: 100px;
}

.moreInfo-section > p {
  margin-top: 80px;
  text-align: justify;
  font-size: 19.2px;
  font-family: Mulish;
  line-height: 35px;
  color: var(--primary-color);
  max-width: 1000px;
  margin-bottom: 50px;
}

.moreProj-container {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  max-width: 1200px;
}

.moreProj-container div {
  align-items: center;
  justify-content: center;
  gap: 27px;
  font-size: 19.2px;
  font-family: Mulish;
  color: var(--primary-color);
}

.demo-links {
  gap: 10px;
}

.more-proj-desc {
  gap: 15px !important;
}

.more {
  text-align: center;
  margin-top: 50px;
}

/* footer styles */

.footer {
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--heading-color);
  max-width: 1120px;
  margin: auto;
  font-family: "Justus Versalitas";
  color: var(--heading-color);
  font-size: 30px;
  padding: 40px 0;
}

.hamburger-menu {
  position: relative;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.menu {
  display: none;
}

.menu.show {
  display: block;
  background-color: var(--heading-color);
  position: absolute;
  right: 0;
  top: -20px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 10px;
}

@keyframes transformAnimation {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

.element {
  animation: transformAnimation 1s ease-in-out;
}

.menu-a {
  width: fit-content;
  text-decoration: none;
  color: var(--bg-color);
  font-size: 22px;
  position: relative;
}

.menu-a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 4px;
  background-color: var(--primary-color);
  bottom: -5px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.menu-a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}



@media only screen and (min-width: 992px) {
  .hamburger-nemu-container {
    display: none;
  }

  .custom-skill-class {
    width: 200px !important;
  }
}

