@font-face {
  font-family: "Justus Versalitas";
  font-style: normal;
  font-weight: normal;
  src: local("Justus Versalitas"),
    url("./assets/fonts/Justus-Versalitas.woff") format("woff");
}

@font-face {
  font-family: "Justus Italic Oldstyle";
  font-style: normal;
  font-weight: normal;
  src: local("Justus Italic Oldstyle"),
    url("./assets/fonts/Justus-ItalicOldstyle.woff") format("woff");
}

@font-face {
  font-family: "Justus Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Justus Italic"),
    url("./assets/fonts/Justus-Italic.woff") format("woff");
}

@font-face {
  font-family: "Justus Oldstyle";
  font-style: normal;
  font-weight: normal;
  src: local("Justus Oldstyle"),
    url("./assets/fonts/Justus-Oldstyle.woff") format("woff");
}

@font-face {
  font-family: "Justus Roman";
  font-style: normal;
  font-weight: normal;
  src: local("Justus Roman"),
    url("./assets/fonts/Justus-Roman.woff") format("woff");
}

@font-face {
  font-family: "Justus Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Justus Bold"),
    url("./assets/fonts/Justus-Bold.woff") format("woff");
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --primary-color: #e2e2e2;
  --bg-color: #333448;
  --heading-color: #ff6e4a;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--primary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header,
.header-li,
.arrow-container,
.app,
#root,
.social-media_links,
.social-media_links ul,
.container,
.vertical,
.hero-main,
.left-main,
.scroll-arrow,
.skills-container,
.skill,
.projects-section,
.project,
.project div,.project-container {
  display: flex;
}

.app,
#root,
.social-media_links ul,
.scroll-arrow,
.skills-section,
.skill,
.projects-section,
.project div, .project-container {
  flex-direction: column;
}

li {
  list-style: none;
}

/* Header Styles */

.logo {
  font-family: "Justus Italic";
  color: var(--heading-color);
  font-size: 37.5px;
}

.header {
  justify-content: space-between;
  padding: 50px 300px;
  align-items: center;
}
.header-li {
  gap: 30px;
  color: var(--heading-color);
  font-size: 19.2px;
  font-family: "Justus Versalitas";
}

.switch {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 38px;
  margin-left: 100px;
}

.dark-light__mode {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
  border: solid var(--heading-color) 2px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--primary-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* HERO STYLES */

.hero-section {
  margin: 150px 0;
}

.social-media_links {
  width: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
  padding-top: 20px;
}

.icons {
  height: 25px;
  width: auto;
}

.social-media_links ul {
  gap: 50px;
  margin-bottom: 50px;
}

.vertical {
  width: 2px;
  height: 234px;
  background-color: var(--heading-color);
  margin: 0 auto;
}

.container {
  justify-content: space-between;
}

.hero-main {
  flex-direction: column;
  gap: 50px;
}

.left-main {
  gap: 76px;
}

.hero-main p {
  font-size: 30px;
  font-family: Mulish;
  line-height: 60px;
  max-width: 660px;
}

.hero-main h1 {
  font-size: 73.24px;
  font-family: "Justus Versalitas";
  color: var(--heading-color);
}

.btn {
  border-radius: 2px;
  border: 2px solid var(--heading-color);
  width: fit-content;
  background-color: transparent;
}

.resume-btn {
  height: 80px;
  color: var(--primary-color);
  font-size: 30px;
  font-family: Mulish;
  position: relative;
  transition: all 0.35s;
}

.resume-btn:hover {
  background-color: var(--heading-color);
  color: var(--bg-color);
}



.box-style {
  position: absolute;
  border: 2px solid #ff6e4a;
  width: 135px;
  height: 135px;
  top: 10px;
  left: 10px;
  z-index: -1;
}

.main-hero_right {
  position: relative;
}

@keyframes scrollArrow {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 60%;
  }
  100% {
    opacity: 1;
    transform: translateY(10px);
  }
}

.scroll-arrow {
  position: absolute;
  bottom: 20px;
  top: 75%;
  right: 25%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  animation: scrollArrow 1000ms infinite ease-in-out alternate;
}

@keyframes underline {
  0% {
    width: 0;
  }
  50% {
    width: calc(100% - 2em);
  }
  100% {
    width: calc(100% - 2em);
  }
}

.underline {
  position: relative;
  display: inline-block;
}

.underline::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--heading-color);
  animation: underline 2s ease-in-out forwards;
}

/* global styles */

.header_2 {
  color: var(--heading-color);
  font-size: 46.88px;
  font-family: "Justus Versalitas";
}

.container {
  padding: 0 300px;
}

.bold {
  font-family: Mulish;
  font-weight: 600;
  color: var(--heading-color);
}

.image-container {
  position: relative;
}

/* .App {
  max-width: 1800px;
  justify-content: center;
} */

/* skills section styles */

.carousel-container {
  max-width: 1054px;
  margin: 0 auto;
  overflow: hidden;
}

.skills-section {
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.skills-container {
  margin-top: 70px;
  gap: 24px;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}

.skill {
  padding: 5px 5px;
  display: flex;
  gap: 10px !important;
  align-items: center;
  border: 1px solid var(--heading-color);
  width: 130px;
  height: 130px;
  color: var(--primary-color);
  font: 400 19.2px "Mulish", sans-serif;
  justify-content: center;
  text-align: center;
}

.skills-container {
  display: flex;
  animation: carousel-slide 15s linear infinite;
}

@keyframes carousel-slide {
  0% {
    transform: translateX(0%);
  }
  10% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(-20%);
  }
  33% {
    transform: translateX(-20%);
  }
  40% {
    transform: translateX(-40%);
  }
  43% {
    transform: translateX(-40%);
  }
  60% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(0%);
  }
}

.skills-container > .skill {
  flex: 0 0 130px;
  /* Optional: Add transition for smoother visual effect */
  transition: transform 0.3s ease;
}

/* Project section styles */

.projects-section {
  margin: 120px 0;
  align-items: center;
}

.project-container {
  margin-top: 85px;
  gap: 150px;
}

.project {
  gap: 70px;
}

.project div {
  gap: 20px;

}

.project div h3 {
  font-size: 33px;
  font-family: "Justus Versalitas";
  color: var(--heading-color);
}

.project div p {
  font-size: 19.2px;
font-family: 'Mulish';
line-height: 35px;
color: var(--primary-color);
max-width: 500px;
}


.proj-box-styleOdd {
  position: absolute;
  border: 2px solid #ff6e4a;
  width: 503.219px;
height: 311.777px;
  top: 20px;
  left: 20px;
  z-index: -1;
}

.proj-box-styleEven {
  position: absolute;
  border: 2px solid #ff6e4a;
  width: 503.219px;
height: 311.777px;
  top: 20px;
  right: 20px;
  z-index: -1;
}

.even {
  flex-direction: row-reverse;
}

.linkBehance::before {
  content: "Behance ↗";
}

.linkGithub::before {
  content: "Live ↗";
}