/* TABLET */

@media only screen and (min-width: 768px) and (max-width: 991px) {

    body {
        align-items: center;
        justify-content: center;
      }

    .header {
      padding: 31px 0 0 0;
      position: relative;
    }
  
    .logo {
      position: absolute;
      left: 40%;
      top: 35px;
      font: 18px;
    }
  
    .header-li {
      display: none;
    }
    li.menu-li.toggle {
      width: fit-content;
    }

  
    .header-li {
      display: none;
    }

    .toggleThemeMenu {
        position: absolute;
        left: -75px;
        top: 30px;
    
      }
  
    .carousel-container {
      max-width: 90%;
      margin: 0 auto;
      overflow: hidden;
      align-items: center;
      justify-content: center;
    }
  
    .skills-container {
      margin-top: 70px;
      gap: 24px;
      white-space: nowrap;
      align-items: center;
      justify-content: center;
    }
    
    .hero-section {
      margin: 0 !important;
      margin-bottom: 100px !important;
      margin-top: 100px !important;
      padding: 0 !important;
    }

    .hero-section {
      flex-direction: column;
    }
  .social-media_links {
    padding: 0;
  }
    .hero_gap {
      gap: 0;
    }
    .header_2 {
      font-size: 40px;
      margin-bottom: 50px !important;
    }
  
    .vertical {
      display: none;
    }
  
    .hero-main {
      gap: 60px;
    }
  
    @keyframes underline {
      0% {
        width: 0;
      }
      100% {
        width: calc((100%) - 2em);
      }
    }
  
    .projects-section {
      padding: 0;
      margin: 0 32px;
    }
  
    .project-container {
      margin: 30px 0;
      gap: 40px !important;
    }
  
    .project {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 35px;
    }
  
    .proj-box-styleOdd {
      width: 500.302px;
      height: 310.126px;
      color: var(--heading-color);
    }
  
    .proj-box-styleEven {
      width: 500.302px;
      height: 310.126px;
    }
  
    .project-descip {
      justify-content: center;
      align-items: center;
    }
  
    .project-container {
      gap: 80px;
      margin-bottom: 70px;
      text-align: center;
    }
  
    .moreProj-container div {
      gap: 5px;
    }
  
    .more-proj-desc {
      gap: 2px !important;
    }
    .more-proj-desc p {
      margin: 0 !important;
    }
  
    .moreInfo-section {
      margin-bottom: 50px;
    }
  
    .moreInfo-section p {
      font-size: 21px;
      line-height: 35px;
      margin: 32px 0;
    }
  
    .footer {
      font-size: 30px;
      padding: 20px 0;
    }
  
    .project-descip h3 {
      font-size: 37px !important;
    }
    .project-descip p {
      font-size: 21px !important;
      line-height: 35px !important;
    }
  
    .demo-link {
      font-size: 21px !important;
    }
  
  
  .projects-section p {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 21px;
  }
  
    .hamburger-nemu-container {
      position: absolute;
      right: 32px;
      top: 40px;
    }
  
    .hero-main p {
      font-size: 23.672px;
      line-height: 47.344px;
      text-align: justify;
    }
  
    .hero-main h1 {
      font-size: 57.791px;
    }
  
    .resume-btn,
    .more {
      font-size: 23.672px;
      height: fit-content;
      padding: 10px;
    }

    .scroll-arrow {
        position: absolute;
        left: -120px;
    }
  
    .scroll-arrow img {
      width: 18px;
      height: auto;
    }
  
    .skill img {
      width: 45px;
      height: auto;
    }
  
    .carousel-container {
      max-width: 650px;
      margin: 0 auto;
    }
  
    .custom-skill-class {
      width: 170px !important;
    }
    
  
    .skills-section {
      justify-content: center;
      align-items: center;
      padding-top: 22px;
      margin-bottom: 100px;
    }
  
    .skill {
      padding: 2px 5px;
    }
  
    .skill p {
      font-size: 20px;
    }
  }
  
  .theme-container {
    z-index: 9999;
  }
  
  .hamburger-menu-container {
    display: flex;
  }
  
  .hamburger-menu {
    position: relative;
  }
  
  .hamburger {
    transition: transform 0.3s ease-in-out;
  }
  
  .hamburger.open {
    transform: rotate(45deg);
  }
  
  .menu {
    position: absolute;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
  }
  
  .menu.show {
    visibility: visible;
  }
  
  .construction {
    height: 250px;
  }
  
  
  .respo {
    position: absolute !important;
    right: 50px !important;
  }
  
  .respo img {
    position: relative !important;
    width: 135px !important;
    height: auto !important;
    z-index: 2;
  }
  
  .box-style {
    position: absolute;
    border: 2px solid var(--heading-color);
    width: 135px;
    height: 135px;
    top: 10px;
    left: 10px;
    z-index: 0;
  }

  .menu.show {
    text-align: center;
    opacity: 0.9;
    position: absolute;
    top: -60px;
    right: -15px;
    width: 150px;
    height: 120px;
    transition: transform 1s ease-in-out 0.25s;
    transform: translateX(10px);
    padding-top: 30px;
  }


